
#schaakbord {
    border:5px solid black;
    height:638px;
    width: 638px;}

.box{
    height:80px;
    width:80px;
    border:0px solid black;
    display: inline-block;
    margin:-2px;}

.grey{
    height:80px;
    width:80px;
    border:0px solid black;
    display: inline-block;
    margin:-2px;
    background-color:grey;}
.red{
    height:80px;
    width:80px;
    border:0px solid black;
    display: inline-block;
    margin: -2px;
    background-color:#30011E;}
.teagreen{
    height:80px;
    width:80px;
    border:0px solid black;
    display: inline-block;
    margin: -2px;
    background-color: #D7FCD4;}
.laurel{
    height:80px;
    width:80px;
    border:0px solid black;
    display: inline-block;
    margin: -2px;
    background-color: #B6CCA1;}
.goldenrod{
    height:80px;
    width:80px;
    border:0px solid black;
    display: inline-block;
    margin: -2px;
    background-color: #BEEF9E;}